<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <title>StudyRad - Meet your group around the world!</title>
  </head>

  <body>
    {% include 'navbar.html' %} 
    <!-- here we are trying to ouput the flash messages if there are any flash messages present -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <!-- <img src="{% static 'images/profilePic.jpg'%}"/> -->
    {% block content %}

    {% endblock%}
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>